* {
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans';
}

body {
    height: 100vh;
    width: 100%;
    

    background-image: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

main {
    display: flex;

    align-items: center;

    justify-content: center;

    flex-wrap: wrap;

}

.box_white {
    height: 500px;

    width: 800px;

    border-radius: 20px;

    background-color: white;

    margin-top: 120px;

    overflow: hidden;

    position: relative;

    top: 0px;

    display: flex;

    align-items: center;

    justify-content: space-around;

    flex-wrap: wrap;
}

 .imagens {

    display: flex;

    flex-wrap: wrap;
    
    flex-direction: column;

} 

.img_top {
    position: absolute;

    z-index: 1;

    margin: -560px 0px 0px 0px;

    right: 60%;
    
    width: 985px;

    height: 985px;
}

.img_mid {
    position: absolute;

    z-index: 2;

    margin: -200px 0px 0px 0px;

    right: 59%;
    
    width: 400px;
    
    height: 400px;
}

.img_end {
    position: absolute;

    z-index: 1;

    margin: -5px 0px 0px 0px;

    right: 60%;
    
    width: 981px;

    height: 440px;
}

.info {
    margin-left: 150px;
}

h1 {
    text-align: left;
    margin: -10px 0px 0px 0px;   
}

details {
    margin: 25px 0px 0px 0px;
}

details > summary {
    list-style: none;
}

summary::marker {
    display: none;
}

summary::after {
    content: url(./images/icon-arrow-down.svg);
    float: right;
}

details[open] summary::after {
    content: url(./images/icon-arrow-down.svg);
    
    transform: rotate(180deg);
}

details > summary {

    padding: 4px;

    font-weight: bold;

    width: 300px;

    font-size: 12px;

    text-align: left;

    color: hsl(237, 12%, 33%);
    
}

details > p {
    color: hsl(240, 6%, 50%);

    text-align: left;

    padding: 4px;

    width: 250px;

    font-size: 12px;
}

hr {
    margin: 5px;

    width: 300px;

    background-color: hsl(237, 12%, 33%);
}

@media (max-width: 1700px) {

    summary::after {
        right: 30%;
    }

}



@media (max-width: 1400px) {

    .box_white {
        position: relative;
        
        top: 0px;

        overflow: visible;

        width: 375px;

        justify-content: center;

    }

    .img_top {

        display: none;
    }


    h1 {
        text-align: center;
        margin-left: -50%;
    }

    .img_mid { 
        
        height: 50%;
        width: 50%;

        left: 25%; 
        top: 12%;
    }

    .img_end {

        height: 15%;
        width: 50%;

        left: 25%;
        top: 2%;
    }

    details {
        margin-left: -10%;
    }

    summary::after {
        position: absolute;
        right: 10%;
        float: none;
        
    }

    hr {
        margin-left: -23.5%;
    }
}

@media (max-width: 1100px) {

    .box_white {
        position: relative;

        top: 0px;

        overflow: visible;

        width: 375px;

        justify-content: center;

    }

    .img_mid { 
        
        height: 50%;
        width: 50%;

        left: 25%; 
        top: 12%;
    }

    .img_end {

        height: 15%;
        width: 50%;

        left: 25%;
        top: 2%;
    }

    summary::after {
        position: absolute;
        right: 10%;
        float: none;
    }
}

@media (max-width: 900px) {

    .box_white {
        position: relative;

        top: 0px;

        overflow: visible;

        width: 375px;

        justify-content: center;

    }

    .img_mid { 
        
        height: 50%;
        width: 50%;

        left: 25%; 
        top: 12%;
    }

    .img_end {

        height: 15%;
        width: 50%;

        left: 25%;
        top: 2%;
    }

    summary::after {
        position: absolute;
        right: 10%;
        float: none;
    }
}

@media (max-width: 700px) {

    .box_white {
        position: relative;

        overflow: visible;

        top: 0px;

        width: 375px;

        justify-content: center;

    }

    .img_mid { 
        
        height: 50%;
        width: 50%;

        left: 25%; 
        top: 12%;
    }

    .img_end {

        height: 15%;
        width: 50%;

        left: 25%;
        top: 2%;
    }

    summary::after {
        position: absolute;
        right: 10%;
        float: none;
    }
}

@media (max-width: 600px) {

    .box_white {
        position: relative;

        top: 0px;

        overflow: visible;

        width: 375px;

        justify-content: center;

    }

    .img_mid { 
        
        height: 50%;
        width: 50%;

        left: 25%; 
        top: 12%;
    }

    .img_end {

        height: 15%;
        width: 50%;

        left: 25%;
        top: 2%;
    }

    summary::after {
        position: absolute;
        right: 10%;
        float: none;
    }

}

@media (max-width: 400px) {

    .box_white {
        position: relative;

        top: 0px;

        overflow: visible;

        left: 4%;

        width: 370px;

        justify-content: center;

    }

    .img_mid { 
        
        height: 50%;
        width: 50%;

        left: 25%; 
        top: 12%;
    }

    .img_end {

        height: 15%;
        width: 50%;

        left: 25%;
        top: 2%;
    }

    summary::after {
        position: absolute;
        right: 10%;
        float: none;
    }

}
